html,
body {
    margin: 0;
    background-color: #e6e6e6;
    height: 100%;
}

a {
    text-decoration: none;
    color: #363636;
}

input {
    width: 86%;
    padding: 10px 20px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="date"] {
    width: 86%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.date-button {
    border: 1px solid #D0D0D0;
    overflow: auto;
    width: 100px;
    border-radius: 10px;
    /* border: none; */
}

.date-button label {
    width: 4.0em;
}

.date-button label span {
    text-align: center;
    display: block;
    cursor: pointer;
    padding: 10px 0;
    background: #fff;
    color: #c2c2c2;
}

.date-button label span:hover {
    color: #fff;
    background: #5ca8ff;
}

.date-button label input {
    position: absolute;
    top: -20px;
    display: none;
}


/* bottom navigation */

.bottom-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    width: 400px;
    padding: 20px 0;
    box-shadow: 0px -1px 6px #c2c2c2;
    z-index: 99;
    background: #f0f0f0;
}

.bottom-nav i {
    font-size: 2rem;
    color: #363636;
}


/* banner, login page */

section.banner-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
    position: relative;
}

section.banner-main img {
    width: 100%;
}

section.banner-main .login-wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
}

section.banner-main .login-wrap input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

section.banner-main .login-wrap button {
    width: 300px;
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    color: #5ca8ff;
    font-weight: 600;
}

section.banner-main .login-wrap button.btn-login {
    color: #fff;
    background: #65b4ff;
    font-size: 18px;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 10px;
}


/* profile page */

section.profile {
    display: flex;
    justify-content: center;
    position: relative;
    width: 400px;
    /* padding: 200px 0; */
    height: 100%;
    background: #f0f0f0;
}

section.profile .profile-box {
    background: #fff;
    border-radius: 0 0 50px 50px;
    height: fit-content;
    width: 100%;
    padding: 20px 30px;
    position: relative;
}

@media all and (max-height: 760px) {
    section.profile .profile-box {
        background: #fff;
        border-radius: 0 0 50px 50px;
        height: fit-content;
        width: 100%;
        padding: 20px 30px 150px;
        position: relative;
    }
}

section.profile .profile-box .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.profile .profile-box .profile-header h1,
section.profile .profile-box .profile-header i {
    color: #363636;
}

section.profile .profile-box .profile-wrap {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

section.profile .profile-box .profile-img {
    /* display: flex;
    align-items: flex-end;
    gap: 20px; */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

section.profile .profile-box .profile-img img {
    width: 100%;
    border-radius: 50%;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.profile .profile-box .profile-img h3 {
    margin: 0;
    font-size: 1.3rem;
}

section.profile .profile-box .profile-img h3 a {
    cursor: pointer;
}

section.profile .profile-box .profile-img h3 i {
    color: #5ca8ff;
}

section.profile .username-form {
    visibility: hidden;
    margin-top: 30px;
}

section.profile .username-form input {
    margin-top: 5px;
}

section.profile .username-form input[type='submit'] {
    cursor: pointer;
    background: #0033FF;
    color: #fff;
    font-weight: 600;
}

section.profile .username-form.active {
    visibility: visible;
}

section.profile .profile-box .profile-description {
    width: 170px;
}

section.profile .profile-box .profile-description p {
    word-break: keep-all;
    font-weight: 600;
    margin: 30px 0;
}

section.profile .profile-box .profile-tag {
    /* position: absolute; */
    bottom: 30px;
    width: 340px;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
}

section.profile .profile-box .profile-tag span {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    margin-top: 7px;
    color: #0033FF;
    font-weight: 400;
}

section.profile .profile-box .profile-tag span a {
    cursor: pointer;
}

section.profile .profile-box .profile-tag span i {
    font-size: 12px;
    color: #ff9797;
}

section.profile .profile-box .profile-tag .profile-tag-form {
    visibility: hidden;
}

section.profile .profile-box .profile-tag .profile-tag-form.active {
    visibility: visible;
}

section.profile .btn-manager {
    margin-top: 30px;
    border: none;
    background: #fff;
    cursor: pointer;
    color: #0033FF;
}
section.profile .btn-manager.under {
    background: #0033FF;
    color: #FFF;
    border-radius: 5px;
    padding: 3px 7px;
}

section.profile .profile-box .profile-tag span {
    border: 1.3px solid #0033FF;
    border-radius: 30px;
    padding: 2px 10px;
    margin-right: 6px;
    font-weight: 600;
}

section.profile .img-vertical {
    width: 10px;
    height: 250px;
    position: absolute;
    right: 30px;
    top: 130px;
}


/* party */

section.party {
    position: relative;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 100%;
    background: #f0f0f0;
    padding-top: 180px;
}

section.party .dday {
    background: #0033FF;
    border-radius: 30px;
    width: fit-content;
    position: absolute;
    top: -15px;
}

section.party .dday h4 {
    padding: 6px 10px;
    color: #fff;
    margin: 0;
    font-size: 12px;
}

section.party header {
    position: fixed;
    top: 0;
    width: 400px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #c2c2c2;
    z-index: 10;
    background: #f0f0f0;
}

section.party header h1 {
    text-align: center;
    margin: 0;
    color: #0033FF;
    font-size: 2rem;
    letter-spacing: -3px;
}

section.party header .btn-action {
    position: absolute;
    right: 10px;
}

section.party header .btn-action i {
    font-size: 1.2rem;
    margin-right: 7px;
}

section.party .party-box {
    width: 100%;
    height: fit-content;
    padding-bottom: 100px;
}

section.party .party-box .party-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

section.party .party-box .party-filter h3 {
    margin-left: 20px;
}

section.party .party-box .party-filter div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

section.party .party-box .party-filter h1,
section.party .party-box .party-filter i {
    color: #363636;
}

section.party .party-box .party-card {
    position: relative;
    width: 360px;
    background: #fff;
    border-radius: 20px;
    padding: 13px 15px 0;
    margin: 20px auto;
}

section.party .party-box .party-card h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 9px;
}

section.party .party-box .party-card .party-participant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

section.party .party-box .party-card .party-participant .image-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

section.party .party-box .party-card .party-participant .join-image {
    vertical-align: middle;
}

section.party .party-box .party-card .party-participant a {
    border-radius: 50%;
    border: 2px solid #0033FF;
    height: fit-content;
    padding: 13px;
}

section.party .party-box .party-card .party-participant i {
    font-size: 20px;
    color: #0033FF;
}

section.party .party-box .party-card .party-participant .participant {
    margin: 5px 0 0;
    font-size: 14px;
}

section.party .party-box .party-card .party-info {
    display: grid;
    grid-template-columns: 50% 30% 10% 10%;
    column-gap: 2px;
}

section.party .party-box .party-card .party-info p {
    margin: 7px 0;
}

section.party .party-box .party-card .party-info .party-info-element {
    display: flex;
    align-items: center;
    gap: 3px;
}

section.party .party-box .party-card .party-info .party-info-element:nth-child(3) i {
    cursor: pointer;
}

section.party .party-box .party-card .party-info .party-info-element:nth-child(3) i,
section.party .party-box .party-card .party-info .party-info-element:nth-child(4) i {
    font-size: 18px;
}

section.party .party-box .party-card .party-info .party-info-element:nth-child(3) p,
section.party .party-box .party-card .party-info .party-info-element:nth-child(4) p {
    font-size: 15px;
}

section.party .party-box .party-card .party-info .party-info-element i {
    color: #FF0000;
    font-size: 12px;
}

section.party .party-box .party-card .party-info .party-info-element p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}


/* add.html */

.content.height-auto {
    height: auto;
}

section.add {
    position: relative;
    display: flex;
    justify-content: center;
    width: 400px;
    min-height: 800px;
    background: #f0f0f0;
    padding: 50px 0;
}

section.add header {
    position: fixed;
    top: 0;
    width: 400px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid #c2c2c2;
    z-index: 10;
    background: #f0f0f0;
}

section.add header i {
    font-size: 1.2rem;
    margin-left: 25px;
}

section.add .add-option {
    background: #fff;
    margin: 20px 0;
    border-radius: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}

section.add .add-option a {
    cursor: pointer;
}

section.add .add-option .input-option {
    grid-column: 1 / span 3;
    grid-row: 2 / span 3;
    padding: 0 20px 20px;
    display: none;
}

section.add .add-option .input-option.active {
    display: block;
}

section.add .add-option .input-option {
    grid-column: 1 / span 3;
    grid-row: 2 / span 3;
    padding: 0 20px 20px;
}

section.add .add-option .option-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-self: start;
}

section.add .add-option .option-title i {
    color: #0033FF;
    padding: 0 10px 0 20px;
}

section.add .add-option .required-info {
    margin: 0;
    padding-left: 20px;
}

section.add .add-option .open-option {
    padding-right: 20px;
    justify-self: end;
    font-size: 1.5rem;
    color: #363636;
}

section.add .add-box {
    width: 100%;
    padding: 20px;
}

section.add .add-box input[type="submit"] {
    background: #0033FF;
    width: 100%;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
}

section.add .add-option .onoffline {
    display: flex;
    justify-content: center;
}

section.add .add-option .onoffline a {
    background: #fff;
    color: #535353;
    border: 1px solid #5ca8ff;
    font-weight: 600;
    padding: 3px 8px;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    margin: 0 15px;
}

section.add .add-option .onoffline a:hover {
    background: #0033FF;
    color: #fff;
    border: 1px solid #0033FF;
}

section.add .add-option .onoffline a.active {
    background: #0033FF;
    color: #fff;
    border: 1px solid #0033FF;
}

section.add .add-option .address-box {
    position: relative;
    margin: 20px 0;
}

section.add .add-option .address-box input {
    border-radius: 50px;
    background: #e6e6e6;
    border: none;
}

section.add .add-option .address-box i {
    color: #6e6e6e;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

section.add .add-option .map {
    height: 200px;
    width: 100%;
    background: #5ca8ff;
}

section.add .add-option .link {
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 20px;
}

section.add .add-option .input-option.participant h4 {
    text-align: center;
}


/* party_detail.html */

section.detail {
    position: relative;
    width: 400px;
    min-height: 800px;
    background: #f0f0f0;
    padding: 50px 0;
    height: auto;
}

section.detail header {
    position: fixed;
    top: 0;
    width: 400px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid #c2c2c2;
    z-index: 10;
    background: #f0f0f0;
}

section.detail header i {
    font-size: 1.2rem;
    margin-left: 25px;
}

section.detail .detail-images {
    /* margin: 0 25px; */
    position: relative;
    height: 250px;
    width: 400px;
    background: #fff;
    /* overflow: hidden; */
}

section.detail .detail-images img {
    object-fit: cover;
}

section.detail .detail-images .detail-images-bg {
    position: relative;
    height: 250px;
    width: 400px;
    background: #fff;
    overflow: hidden;
}

section.detail .detail-images .image-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
}

section.detail .detail-images .participant .image-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

section.detail .detail-images img {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.detail .detail-images .overlay {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
}

section.detail .detail-images .left {
    position: absolute;
    top: 50px;
    left: 20px;
    padding: 5px 7px;
    color: #fff;
    background: #0033FF;
    border-radius: 20px;
    width: 60px;
    text-align: center;
}

section.detail .detail-images .right {
    position: absolute;
    top: 50px;
    right: 20px;
    padding: 5px 7px;
    color: #fff;
    background: #0033FF;
    border-radius: 20px;
    width: 60px;
    text-align: center;
}

section.detail .detail-images h2 {
    position: absolute;
    /* top: 130px; */
    bottom: -62px;
    left: 140px;
    color: #000;
    width: 61%;
    word-break: break-all;
}

section.detail .detail-images .participant {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

section.detail .detail-images .participant img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
}

section.detail .detail-images .owner {
    display: flex;
    align-items: baseline;
    position: absolute;
    bottom: -75px;
    left: 20px;
}
section.detail .detail-images .owner h3 {
    position: absolute;
    bottom: -50px;
    left: 25px;
}
section.detail .detail-images .owner img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
}

section.detail .detail-box {
    padding-top: 100px;
    margin: 25px;
}

section.detail .detail-box .detail-card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow-x: hidden;
    background: #fff;
    border-radius: 15px;
    padding: 50px 15px;
}

section.detail .detail-box .detail-card-element {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}

section.detail .detail-box .detail-card-element i {
    color: #0033FF;
}

section.detail .detail-box .detail-card-element p {
    margin: 7px 0;
}

section.detail .detail-box .detail-comment {
    padding-bottom: 100px;
}

.comment-form {
    display: grid;
    width: 100%;
    grid-template-columns: 80% 20%;
    align-items: center;
    margin: 0 10px;
}

.comment-form input {
    width: 100%;
}

.comment-form input[type="submit"] {
    padding: 9px 0;
    cursor: pointer;
}

section.detail .detail-box .detail-comment .comment-write {
    display: flex;
    gap: 20px;
}

section.detail .detail-box .detail-comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}

section.detail .detail-box .detail-comment .comment-list {
    padding-left: 30px;
}

section.detail .detail-box .detail-comment .comment-list .comment-item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.detail .detail-box .detail-comment .comment-list .comment-item-profile {
    display: flex;
    gap: 20px;
    align-items: center;
}

section.detail .detail-box .detail-comment .comment-list .comment-item-row img {
    width: 30px;
    height: 30px;
}

section.detail .detail-box .detail-comment .comment-list .comment-item {
    margin-bottom: 15px;
}

section.detail .detail-box .detail-comment .comment-list .comment-item-row .comment-id {
    margin: 20px 0;
}

section.detail .detail-box .detail-comment .comment-list .comment-content p {
    font-size: 15px;
    margin: 0 0 10px;
}

section.detail .detail-box .detail-comment .comment-list .comment-content .comment-like {
    font-size: 13px;
    color: #535353;
    margin-right: 10px;
}

section.detail .detail-box .detail-comment .comment-list .comment-content .js-open-comment {
    color: #5ca8ff;
    cursor: pointer;
    font-size: 13px;
}

#CommentDetail .comment-write {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#CommentDetail img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}

#CommentDetail .comment-list {
    padding-left: 30px;
    padding-right: 30px;
}

#CommentDetail .comment-list .comment-item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#CommentDetail .comment-item-profile {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#CommentDetail .comment-item-checked {
    padding-left: 15px;
    padding-right: 30px;
    margin-bottom: 20px;
}

#CommentDetail .comment-item-checked .comment-item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#CommentDetail .comment-list .comment-item-row img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#CommentDetail .comment-list .comment-item {
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #c2c2c2;
}

#CommentDetail .comment-list .comment-item-row .comment-id {
    margin: 20px 0;
}

#CommentDetail .comment-content p {
    font-size: 15px;
    margin: 10px 0;
    text-align: left;
}

#CommentDetail .comment-list .comment-content .js-open-comment {
    color: #5ca8ff;
    cursor: pointer;
    font-size: 13px;
}

#CommentDetail .comment-like {
    font-size: 13px;
    text-align: left;
    width: 100%;
}

section.detail .bottom-nav {
    position: fixed;
    bottom: 0;
    display: block;
    padding: 0;
}

.bottom-nav a {
    text-align: center;
}

.bottom-nav p {
    font-size: 13px;
    margin: 3px;
}

section.detail .bottom-nav .join-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

section.detail .bottom-nav .join-box .btn-wish {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid #0033FF;
    border-radius: 50%;
}

section.detail .bottom-nav .join-box .btn-wish i {
    font-size: 20px;
    color: #0033FF;
}


/* section.detail .bottom-nav .join-box .btn-join-wrap {
  display: flex;
  width: 100%;
  justify-content: right;
} */

section.detail .bottom-nav .join-box .btn-join {
    border-radius: 20px;
    padding: 11px 30px;
    background: #0033FF;
    color: #fff;
    width: 60%;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

section.detail .bottom-nav .bottom-nav-detail {
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding: 20px 0;
    box-shadow: 0px -1px 6px #c2c2c2;
    z-index: 99;
    background: #f0f0f0;
}

.sidenav {
    height: 0;
    width: 400px;
    position: fixed;
    z-index: 15;
    top: 0;
    background-color: #f0f0f0;
    overflow-y: hidden;
    transition: 0.5s;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* search.html */

section.search {
    position: relative;
    width: 400px;
    min-height: 800px;
    background: #fff;
    padding: 50px 0;
    height: auto;
}

section.search header {
    position: fixed;
    top: 0;
    width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid #c2c2c2;
    z-index: 10;
    background: #f0f0f0;
}

section.search header a {
    display: flex;
    align-items: center;
    justify-content: left;
}

section.search header p {
    margin: 0 5px 0 25px;
}

section.search header i {
    font-size: 1rem;
}

section.search .search-box {
    /* width: 100%; */
    padding: 20px 30px;
}

section.search .search-box button {
    width: 100%;
    padding: 10px 0;
    border: #0033FF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
}

section.search .search-box button:hover {
    color: #fff;
    background: #5ca8ff;
}

section.search .search-box .line {
    width: 100%;
    height: 1px;
    background: #c2c2c2;
    margin: 30px auto;
}

section.search .search-box .search-term {
    margin: 10px auto;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100px 1px 100px 1px 100px;
    align-items: center;
    width: fit-content;
    /* justify-items: space-around; */
}

.ck-button {
    /* background-color:#EFEFEF; */
    /* border-radius:4px; */
    border: 1px solid #D0D0D0;
    overflow: auto;
    width: 100px;
    border: none;
}

.ck-button label {
    width: 4.0em;
}

.ck-button label span {
    text-align: center;
    display: block;
    cursor: pointer;
    padding: 10px 0;
    background: #fff;
    color: #c2c2c2;
}

.ck-button label span:hover {
    color: #fff;
    background: #5ca8ff;
}

.ck-button label input {
    position: absolute;
    top: -20px;
    display: none;
}

.ck-button input:checked+span {
    background-color: #5ca8ff;
    color: #fff;
    padding: 10px 0;
}

section.search .search-box .search-term div:nth-child(1) {
    border-radius: 10px 0 0 10px;
}

section.search .search-box .search-term div:nth-child(5) {
    border-radius: 0 10px 10px 0;
}

section.search .search-box .search-term .line-vertical {
    width: 1px;
    height: 100%;
    background: #c2c2c2;
}

section.search .search-box .search-days .option-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.search .search-box .search-days .option-title .option-btn a {
    font-size: 12px;
    cursor: pointer;
}

section.search .search-box .search-days .option-title .option-btn a:hover {
    color: #0033FF;
}


/* section.search .search-box .search-days .option-title .option-btn a.active {
    color: #0033FF;
} */

section.search .search-box .search-days .day-of-week {
    display: flex;
}

section.search .search-box .search-days .day-of-week .ck-button label span {
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    margin: 0 3px;
}

section.search .search-box .category {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.add .add-option .search-category {
    grid-column: 1/3;
}

section.add .add-option .search-category h3 {
    padding-left: 20px;
}

.search-category .category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 0 30px;
}

.search-category .category label {
    margin-right: 10px;
}

.modal_wrap {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.modal_wrap.active {
    display: block;
}

.modal_wrap .modal_dim {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, .5);
}

.modal_wrap .modal_cnt {
    position: relative;
    text-align: center;
    height: 150px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    width: 250px;
    min-height: 200px;
    margin: 0 auto;
    ;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
    border-radius: 20px;
}

.modal_wrap .modal_cnt .close_btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('./images/btn_colse.png') no-repeat 0 0;
    background-size: 100% 100%;
    text-indent: -99999px;
}

.modal_wrap .modal_cnt .modal_header {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.modal_wrap .modal_cnt .modal_body {
    width: 100%;
    height: fit-content;
    padding-top: 30px;
}

.fake_sjwidth {
    overflow: scroll;
    position: absolute;
    top: -99999px;
    width: 60px;
    height: 60px;
}

.modal_wrap .modal_cnt .modal_body i {
    font-size: 40px;
    color: #2898FA;
}

#modalSuccess {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s;
    background: #5ca8ff;
    color: #fff;
    font-weight: 600;
    border-radius: 0 0 20px 20px;
    padding: 15px 0;
    width: 100%;
}

#modalSuccess:hover {
    background: #0033FF;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* 회원가입 페이지 */


/* section.register */

section.register {
    display: flex;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 100%;
    background: #f0f0f0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.register .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

section.register h1 {
    z-index: 1;
}

section.register form {
    width: 90%;
    margin: 5px auto;
    z-index: 1;
}

section.register form input {
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
}

section.register form input[type='submit'] {
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: all .5s;
}

section.register form input[type='submit']:hover {
    background: #0033FF;
    color: #fff;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #0033FF;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* section.search .bottom-nav {
    background: #0033FF;
    flex-direction: column;
    padding: 0;
} */

section.search .bottom-nav .btn-show-all {
    color: #fff;
    text-align: center;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 0;
}

section.search .bottom-nav .line {
    background: #fff;
    width: 60%;
    height: 3px;
    margin: 20px auto 0;
}


/* 관리자 페이지 */

.manage-box {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.manage-options {
    margin: 20px;
    width: 100%;
}

.manage-options button {
    display: block;
    width: 100%;
    cursor: pointer;
    margin: 50px 0;
}

.manage-card {
    margin: 10px 20px;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 10px;
}

.manage-filter {
    margin: 0 20px;
    text-align: center;
}

.manage-card .image-wrap {
    display: flex;
    align-items: center;
    gap: 5px;
}

.manage-card .image-wrap .user-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.manage-card h4 {
    margin: 10px 0;
}

.manage-card .manage-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manage-card .manage-info p {
    margin: 3px;
}

.manage-card .manage-info-element {
    display: flex;
    align-items: center;
}

.manage-card .social-title {
    cursor: pointer;
}

.manage-card .social-title:hover {
    color: #0033FF;
}

.manage-card .manage-info-element .delete-social {
    color: #ff7474;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.manage-card .manage-info-element .fa-map-marker-alt {
    font-size: 14px;
}

.manage-card .manage-info.socialing p {
    font-size: 13px;
}

.prev-page {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}