{% extends 'base.html' %}

{% block contents %}
<div class="content">
    <section class="banner-main">
        <img class="banner-img" src="/static/images/loginpage.png" alt="" />
        <div class="login-wrap">

            <form id="findPasswordForm" action="/user/find_password/" method="post">
                {% csrf_token %}
                <input type="text" name="email" />
                {%if error%}
                <input type="text" value="{{error}}" readonly/>
                {%endif%}
                <button typ="submit" onclick="submit_form()">비밀번호 찾기</button>
            </form>

        </div>
    </section>
</div>
{%endblock%}

{% block extrascripts %}
<script>
    var form = document.getElementById('findPasswordForm');

    function submit_form() {
        if (form.checkValidity()) {
            alert("비밀번호 초기화를 위해 메일을 확인해주세요");
        }
    }
</script>
{% endblock %}