<!-- @format -->

{% extends 'base.html' %} {% block contents %}

<div class="content">
    <section class="profile">
        <div class="profile-box">
            <div class="profile-header">
                <h1>내 프로필</h1>
                <i class="fas fa-bell"></i>
            </div>
            <div class="profile-img">
                <img id="profileImage" src="/media/{{user.image}}" alt="profile image" onclick="open_image_input()" />
                <form action="/user/update/" id="imageForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="image" id="imageInput" style="display: none" />
                </form>
                <h3>{{user.name}}</h3>
            </div>

            <form action="/api/interest/" , method="post">
                <input type="text" name="interest" />
                <input type="submit" value="관심사 추가하기" />
            </form>

            <div class="profile-description">
                <p>{{user.email}}</p>
            </div>
            <div class="profile-tag">
                {% for interest in user_interest %}
                <span>#{{interest.interest_id.interest}}</span> {% endfor %}
            </div>

            <!-- 가입 중인 파티 -->
            <!-- {% if user%} {% for party in user_party %}
            <h3>{{party.party_id.id}}</h3>
            <a href="/party/{{party.party_id.id}}">{{party.party_id.name}}</a>
            <h3>{{party.party_id.name}}</h3>
            <h3>{{party.party_id.date}}</h3>
            <h3>{{party.party_id.address}}</h3>
            {% endfor %} {% endif %} -->
        </div>

        <img class="img-vertical" src="/static/images/logo_vertical.png" alt="" />

        <div class="bottom-nav">
            <a href="/party"><i class="fas fa-users"></i></a>
            <a href="/party/create"><i class="fas fa-plus-circle"></i></a>
            <a href="/user/profile"><i class="fas fa-user"></i></a>
        </div>
    </section>
</div>

{% endblock %} {% block extrascripts %}
<script type="text/javascript">
    function open_image_input() {
        document.getElementById("imageInput").click();
    }

    imageInput.onchange = evt => {
        const [file] = imageInput.files
        if (file) {
            profileImage.src = URL.createObjectURL(file)
        }
    }

    $('#imageInput').on('change', function() {
        console.log($(this).val)
        $('#imageForm').submit();
    })
</script>
{% endblock %}