{% extends 'base.html' %}

{% block contents %}
<div class="content">
    <section class="profile">
        <div class="profile-box">

            <div class="profile-header">
                {% if my %}
                <h1>내 프로필</h1>
                {%else%}
                <h1>{{user.name}}님의 프로필</h1>
                {%endif%}
                <i class="fas fa-bell"></i>
            </div>

            {# 프로필 사진 #}
            <div class="profile-wrap">

                {%if my%}
                <div class="profile-img">
                  <img id="profileImage" src="/media/{{user.image}}" alt="profile image" onclick="open_image_input()" />
                </div>
                <form action="/user/update/" id="imageForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="image" id="imageInput" style="display: none" />
                </form>
                {%else%}

                {% if user.image %}
                <img id="profileImage" src="/media/{{user.image}}" alt="profile image" />
                {% else %}
                <img id="profileImage" src="/media/default_profile.jpg" alt="profile image" />
                {% endif %}


                {%endif%}

                <h3>
                    {{user.name}}
                    {%if my%}
                    <a class="open-input"><i class="fas fa-edit"></i></a>
                    {% endif %}
                </h3>
            </div>

            {# 개인 정보 #}

            {%if my%}
            <form class="username-form" action="/user/update/" method="post">
                {%csrf_token%}
                <input type="text" name="name" value="{{user.name}}">
                {% if user.detail %}
                <input type="text" name="detail" value="{{'user.detail'}}">
                {% else %}
                <input type="text" name="detail" value="">
                {% endif %}
                <input type="submit" value="수정">
            </form>
            {%endif%}
            
            <div class="profile-description">
                {%if user.detail%}
                <p>{{user.detail}}</p>
                {%else%}
                <p>자기소개가 없습니다.</p>
                {%endif%}
            </div>
            

            {# 관심사 #}
            <div class="profile-tag">
                <form class="profile-tag-form" action="/api/interest/" , method="post">
                    <input type="text" name="interest" />
                    <input type="submit" value="관심사 추가하기" />
                </form>
                {% for interest in user_interest %}
                <span>
                    #{{interest.interest_id.interest}}

                    {%if my%}
                    <a onclick="deleteTag(this, {{interest.id}} )"><i class="fas fa-times"></i></a>
                    {%endif%}
                </span>
                {% endfor %}
            </div>

            <div>
                {%if my and user.is_admin%}
                <button class="btn-manager" onclick="location.href='/manager'">관리자 페이지로 이동</button>
                {%endif%}
            </div>

        </div>{#profile-box#}

        <img class="img-vertical" src="/static/images/logo_vertical.png" alt="" />
        <div class="bottom-nav">
            <a href="/party"><i class="fas fa-users"></i></a>
            <a href="/party/create"><i class="fas fa-plus-circle"></i></a>
            <a href="/user/profile"><i class="fas fa-user"></i></a>
        </div>
    </section>
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">

    {% if my %}
    
    function open_image_input() {
        document.getElementById("imageInput").click();
    }

    imageInput.onchange = evt => {
        const [file] = imageInput.files
        if (file) {
            profileImage.src = URL.createObjectURL(file)
        }
    }

    $('#imageInput').on('change', function () {
        console.log($(this).val)
        $('#imageForm').submit();
    });
    {%endif%}

    $('.open-input').click(function () {
        $('.username-form').toggleClass('active');
        $('.profile-tag-form').toggleClass('active');
    });

    function deleteTag(element,user_interest_id ) {
        console.log(user_interest_id)
        
        $.ajax({
            type: 'get',
            url: '/user/delete',
            data: {'user_interest_id':user_interest_id},
            dataType: 'json',
            success: function (result) {
                console.log("성공")
            }
        });
        element.parentNode.style.display = "none";
        console.log('태그 삭제');
    }
</script>
{% endblock %}