{% extends 'base.html' %}

{% block contents %}
<div class="content">
    <section class="banner-main">
        <img class="banner-img" src="/static/images/loginpage.png" alt="" />
        <div class="login-wrap">

            <form id="findPasswordForm" action="/user/update/" method="post">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{user.id}}"/>
                <input id="password" type="password" name="password" placeholder="비밀번호" />
                <input id="confirm_password" type="password" name="re_password" placeholder="비밀번호 확인" />
                <span id='message'></span>
                <button id='submitBtn' type="submit" onclick="submit_form()">비밀번호 변경</button>
            </form>

        </div>
    </section>
</div>
{%endblock%}

{% block extrascripts %}
<script>
    var form = document.getElementById('findPasswordForm');

    function submit_form() {
        if (form.checkValidity()) {
            alert("비밀번호를 변경했습니다.");
        }
    }
    $('#password, #confirm_password').on('keyup', function () {
        if ($('#password').val() == $('#confirm_password').val()) {
            $('#message').html('비밀번호가 같습니다.').css('color', 'green');
            $('#submitBtn').prop('disabled', false);
        } else {
            $('#message').html('비밀번호가 다릅니다.').css('color', 'red');
            $('#submitBtn').prop('disabled', true);
        }
    });
</script>
{% endblock %}