<!-- @format -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />

    <title>Bucket Lister</title>
</head>

<body>
    <div class="content height-auto">
        <section class="add">
            <header>
                <a href="javascript:history.back()">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </header>
            <div class="add-box">
                <div class="add-title">
                    <h3>언제 어디서 만나나요?</h3>
                </div>

                <form action="/api/party/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="host" value="{{user_id}}" />
                    <div class="add-select">
                        <!-- 제목 -->
                        <div class="add-option">
                            <div class="option-title">
                                <i class="fas fa-edit"></i>
                                <h3>모임 이름, 설명</h3>
                            </div>
                            <div class="input-option active">
                                <input type="text" name="name" placeholder="모임 이름" />
                                <input type="text" name="detail" placeholder="모임 설명" />
                            </div>
                        </div>
                        <!-- 날짜 -->
                        <div class="add-option add-option--date">
                            <div class="option-title">
                                <i class="fas fa-calendar-alt"></i>
                                <h3>날짜 선택</h3>
                            </div>
                            <a class="open-option"><i class="fas fa-caret-down"></i></a>
                            <div class="input-option">
                                <input type="date" name="date" />
                            </div>
                        </div>
                        <!-- 시간 -->
                        <div class="add-option add-option--time">
                            <div class="option-title">
                                <i class="fas fa-clock"></i>
                                <h3>시간 입력</h3>
                            </div>
                            <a class="open-option"><i class="fas fa-caret-down"></i></a>
                            <div class="input-option">
                                <input type="time" name="time" />
                            </div>
                        </div>
                        <!-- 장소 -->
                        <div class="add-option add-option--location">
                            <div class="option-title">
                                <i class="fas fa-map-marker-alt"></i>
                                <h3>장소 입력</h3>
                            </div>
                            <a class="open-option"><i class="fas fa-caret-down"></i></a>
                            <div class="input-option">
                                <div class="onoffline">
                                    <a class="btn-offline">오프라인</a>
                                    <a class="btn-online">온라인</a>
                                </div>
                                <div class="offline">
                                    <div class="address-box">
                                        <input type="text" name="address" />
                                        <i class="fas fa-search"></i>
                                    </div>
                                    <div class="map"></div>
                                </div>
                            </div>
                        </div>
                        <!-- 인원 수 -->
                        <div class="add-option add-option--people">
                            <div class="option-title">
                                <i class="fas fa-users"></i>
                                <h3>인원 설정 <span>(본인 제외)</span></h3>
                            </div>
                            <a class="open-option"><i class="fas fa-caret-down"></i></a>
                            <div class="input-option">
                                <input type="number" name="headcount" value="1" min="1" />
                            </div>
                        </div>
                        <!-- 인원 수 -->
                        <div class="add-option">
                            <div class="option-title">
                                <i class="fas fa-coins"></i>
                                <h3>참가 비용</h3>
                            </div>
                            <a class="open-option"><i class="fas fa-caret-down"></i></a>
                            <div class="input-option">
                                <input type="number" name="price" value="0" min="0" />
                            </div>
                        </div>
                        <!-- 오픈채팅방 링크 -->
                        <div class="add-option add-option--link">
                            <div class="option-title">
                                <i class="fas fa-comment"></i>
                                <h3>오픈채팅방 링크</h3>
                            </div>
                            <a class="open-option"><i class="fas fa-caret-down"></i></a>
                            <div class="input-option">
                                <input type="text" name="link" value="http://billim.co.kr" />
                            </div>
                        </div>
                    </div>
                    <div class="empty-box"></div>

                    <input type="submit" value="만들기" />
                </form>
            </div>
            <div class="bottom-nav">
                <a href="/party"><i class="fas fa-users"></i></a>
                <a href="/party/create"><i class="fas fa-plus-circle"></i></a>
                <a href="/user/profile"><i class="fas fa-user"></i></a>
            </div>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(".login-btn").click(function() {
            location.href = "./profile.html";
        });
        $(".address-box input").focus(function() {
            $(".address-box i").css("display", "none");
        });
        $(".address-box input").blur(function() {
            $(".address-box i").css("display", "block");
        });
        $(".open-option").click(function() {
            if ($(this).next().hasClass("active") == 0) {
                $(this).children(".fas:eq(0)").attr("class", "fas fa-caret-up");
            } else {
                $(this).children(".fas:eq(0)").attr("class", "fas fa-caret-down ");
            }
            $(this).next().toggleClass("active");
        });
    </script>
</body>

</html>