{% extends 'party_base.html' %}

{% block contents %}
<div class="content height-auto">

  {# 대댓글 모달 #}
  <div id="CommentDetail" class="sidenav"></div>

  <section class="detail">
    <header>
      <a href="javascript:history.back()"><i class="fas fa-arrow-left"></i></a>
    </header>

    {# 소셜링 배너 #}
    <div class="detail-images">
      <img class="party-bg" src="/static/images/dog.jpg" alt="" />

      <div class="overlay"></div>

      {% if party.leftover < 1 %}
      <p class="left">마감</span></p>
      {% else %}
      <p class="left">잔여 <span>{{party.leftover}}</span></p>
      {% endif %}


      <p class="right" onclick="location.href='/party/delete?party_id={{party.id}}'">삭제<span></span></p>

      <h2>{{party.name}}</h2>
      <div class="participant">
        {% for member in party.members %}
        <img src="/media/{{member.user_id.image}}" onclick="location.href='/user/profile?id={{member.user_id.id}}'" />
        {% endfor %}
      </div>
      <div class="owner">
        <img src="/media/{{party.host.image}}" onclick="location.href='/user/profile?id={{party.host.id}}'" />
        <h3>{{party.host.name}}</h3>
      </div>

    </div>


    <div class="detail-box">

      {# 소셜링 정보 #}
      <div class="detail-card">
        <div class="detail-card-element">
          <i class="fas fa-map-marker-alt"></i>
          <p>{{party.address}}</p>
        </div>
        <div class="detail-card-element">
          <i class="fas fa-clock"></i>
          <p>{{party.date}} {{party.time}}</p>
        </div>
        <div class="detail-card-element">
          <i class="fas fa-won-sign"></i>
          <p>{{party.price}}</p>
        </div>
        <div class="detail-card-element">
          <i class="fas fa-link"></i>
          {% if user.member.is_join == True %}
          <p onclick=" location.href='{{party.link}}' ">{{party.link}}</p>
          {# <p onclick=" location.href='{{party.link}}' ">{{party.link}}</p> #}
          {%else%}
          <p>소셜링 가입 후 링크를 확인해주세요</p>
          {%endif%}
        </div>
      </div>

      {# 소셜링 상세정보 #}
      <div class="detail-info">
        <h4>자세한 정보</h4>
        {%if party.detail%}
        <p>{{party.detail}}</p>
        {%endif%}
        <p>입력된 정보가 없습니다.</p>
      </div>

      {# 소셜링 댓글 #}
      <div class="detail-comment">
        <h4>댓글</h4>
        <div class="comment-write">
          <img src="/media/{{user.image}}" alt="" />
          <form class="comment-form" action="/party/comment" method="post">
            {% csrf_token %}
            <input type="hidden" name="party_id" value="{{party.id}}">
            <input type="text" name="content" placeholder="댓글 달기..." required autocomplete="off" />
            <input type="submit" value="입력">
          </form>
        </div>

        {# 댓글 목록 #}
        <div class="comment-list">

          <!-- 댓글 리스트 반복문 시작 -->
          {% for comment in party.comments %}
          <div class="comment-item">
            <div class="comment-item-row">
              <div class="comment-item-profile">
                <img src="/media/{{comment.user.image}}" alt="">
                <h5 class="comment-id">{{comment.user.name}}</h5>
              </div>
              <div class="comment-btn-like">
                {% if comment.id in user.user_comment %}
                <i class="fas fa-heart" onclick="like(this, {{comment.id}}, 'comment')"></i>
                {% else %}
                <i class="far fa-heart" onclick="like(this, {{comment.id}}, 'comment')"></i>
                {% endif %}
              </div>
            </div>
            <div class="comment-content">
              <p>
                {{comment.content}}
              </p>
              <div class="comment-item-detail">
                <span class="comment-like">좋아요 <span>{{comment.count_like}}</span>개</span>
                <span class="js-open-comment" onclick="openComment({{comment.id}})">
                  <i class="fas fa-caret-down"></i>
                  답글보기 ({{comment.count_children}})
                </span>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>

    </div>

    <div class="bottom-nav">
      <div class="join-box">
        {# like button #}
        <a class="btn-wish">
          {% if user.member.is_like%}
          <i class="fas fa-heart" onclick="like(this, {{party.id}})"></i>
          {% else %}
          <i class="far fa-heart" onclick="like(this, {{party.id}})"></i>
          {% endif %}
        </a>



        {% if user.member.is_host == True %}
        <a class="btn-join" href=""> 내가 만든 소셜링 </a>
        {% elif user.member.is_join == True %}
        <a class="btn-join exit" onclick="send_exit_form()"> 소셜링 탈퇴하기 </a>
        {% elif party.leftover < 1 %}
        <a class="btn-join"> 정원 초과 </a>
        {% else %}
        <!-- <div class="btn-join-wrap"> -->
        <a id="btnJoin" class="btn-join join open_modal" onclick="send_join_form()"> 소셜링 참여하기 </a>
        <!-- </div> -->


        {% endif %}
      </div>
      <div class="bottom-nav-detail">
        <a href="/party "><i class="fas fa-users"></i></a>
        <a href="/party/create "><i class="fas fa-plus-circle"></i></a>
        <a href="/user/profile "><i class="fas fa-user"></i></a>
      </div>
    </div>
  </section>

  <section class="modal_wrap">
    <article class="modal_cnt">
      <div class="modal_body">
        <i class="fas fa-check-circle"></i>
        <h3>소셜링 참여신청 완료!</h3>
        <!-- <a href="javascript:void(0)" class="close_btn">X</a> -->
        <a id="modalSuccess" class="btn-join" href="{{party.link}}" style="display:none">오픈채팅방 입장!</a>
      </div>
    </article>
    <div class="modal_dim"></div>
  </section>
</div>

<form action="/party/join" id="joinForm" method="post">
  {%csrf_token%}
  <input type="hidden" name="party_id" value="{{party.id}}" />
</form>

<div id="partyID" data-party_id="{{party.id}}"></div>

{% endblock %}

{% block extrascript %}
<script>
  function send_exit_form() {
    document.getElementById("joinForm").submit();
  }

  function send_join_form() {

    var queryString = $("#joinForm").serialize();

    $.ajax({
      type: 'post',
      url: '/party/join',
      data: queryString,
      dataType: 'json',
      success: function (result) {
        $('#modalSuccess').show();
      }
    });
  }
</script>
<script src="/static/js/sidenav.js"></script>
<script src="/static/js/open_modal.js" type="text/javascript"></script>
{% endblock%}