{% extends 'party_base.html' %}

{% block contents %}

<div class="content">
    <section class="party">
        <header>
            <h1>BUCKET LISTER</h1>
            <div class="btn-action">
                <a href="/party/search"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-bell"></i></a>
            </div>
        </header>
        <div class="party-box">
            <div class="party-filter">
                <h3>전체 소셜링</h3>
                <!-- <div>
                    <i class="fas fa-filter"></i>
                    <h4>필터</h4>
                </div> -->
            </div>

            {% for party in party_list %}

            <div class="party-card">
                <div class="dday">

                    {% if party.d_day > 0 %}
                    <h4>D - {{party.d_day}}</span></h4>
                    {% elif party.d_day < 0 %}
                    <h4>마감된 소셜링</h4>
                    {% else %}
                    <h4>오늘 마감</span></h4>
                    {% endif %}

                </div>
                <h3 onclick="location.href='/party/detail/{{party.id}}'">{{party.name}}</h3>
                
                <div class="party-participant">
                    {% for member in party.members %}
                    <img class="join-image" src="/media/{{member.user_id.image}}" alt="profile image" /> 
                    {% endfor %}

                    <a href="/party/detail/{{party.id}}">
                        <i class="fas fa-plus-circle"></i>
                    </a>

                    {% for memeber in party.members %}
                    <p class="participant">{{member.name}}</p>
                    {% endfor %}

                    <p></p>
                </div>
                <div class="party-info">
                    <div class="party-info-element">
                        <i class="fas fa-map-marker-alt"></i>
                        <p>위치 : {{party.address}}</p>
                    </div>
                    <div class="party-info-element">
                        <p>{{party.date}} {{party.time}}</p>
                    </div>
                    <div class="party-info-element">
                        {% if party.user_like %}
                        <i class="fas fa-heart" onclick="like(this, {{party.id}})"></i>
                        {%else%}
                        <i class="far fa-heart" onclick="like(this, {{party.id}})"></i>
                        {%endif%}
                        <p>{{party.like_count}}</p>
                    </div>
                    <div class="party-info-element">
                        <i class="fas fa-comment"></i>
                        <p>1</p>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="bottom-nav">
            <a href="/party"><i class="fas fa-users"></i></a>
            <a href="/party/create"><i class="fas fa-plus-circle"></i></a>
            <a href="/user/profile"><i class="fas fa-user"></i></a>
        </div>
    </section>
</div>
{%endblock%}