<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Bucket Lister</title>
</head>

<body>
    <section class="search">
        <header>
            <a href="./search.html">
                <p>재설정</p><i class="fas fa-redo"></i></a>
        </header>

        <div class="search-box">
            <h3 class="option-title">기간</h3>
            <div class="search-term">
                <div class="ck-button">
                    <label>
               <input type="radio" name="ss2" id="ss2" value="이번주" checked=""><span>이번주</span>
            </label>
                </div>

                <div class="line-vertical"></div>

                <div class="ck-button">
                    <label>
               <input type="radio" name="ss2" id="ss2" value="다음주"><span>다음주</span>
            </label>
                </div>

                <div class="line-vertical"></div>

                <div class="ck-button">
                    <label>
             <input type="radio" name="ss2" id="ss2" value="직접 지정"><span>직접 지정</span>
          </label>
                </div>
            </div>

            <div class="line"></div>

            <div class="search-days">
                <div class="option-title">
                    <h3>요일</h3>
                    <div class="option-btn">
                        <a class="day-filter active">• 전체</a>
                        <a class="day-filter">• 평일</a>
                        <a class="day-filter">• 주말</a>
                    </div>
                </div>
                <div class="day-of-week">
                    <div class="ck-button">
                        <label>
                 <input class="days" type="checkbox" name="day-of-week" id="dayOfWeek" value="1" checked=""><span>월</span>
              </label>
                    </div>
                    <div class="ck-button">
                        <label>
                 <input class="days" type="checkbox" name="day-of-week" id="dayOfWeek" value="1" checked=""><span>화</span>
              </label>
                    </div>
                    <div class="ck-button">
                        <label>
                 <input class="days" type="checkbox" name="day-of-week" id="dayOfWeek" value="1" checked=""><span>수</span>
              </label>
                    </div>
                    <div class="ck-button">
                        <label>
                 <input class="days" type="checkbox" name="day-of-week" id="dayOfWeek" value="1" checked=""><span>목</span>
              </label>
                    </div>
                    <div class="ck-button">
                        <label>
                 <input class="days" type="checkbox" name="day-of-week" id="dayOfWeek" value="1" checked=""><span>금</span>
              </label>
                    </div>
                    <div class="ck-button">
                        <label>
                 <input class="weekend" type="checkbox" name="day-of-week" id="dayOfWeek" value="1" checked=""><span>토</span>
              </label>
                    </div>
                    <div class="ck-button">
                        <label>
                 <input class="weekend" type="checkbox" name="day-of-week" id="dayOfWeek" value="1" checked=""><span>일</span>
              </label>
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="search-category">
                <h3>카테고리</h3>
                <div class="category">
                    <label class="container">함께 나들이
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
                    <label class="container">가볍게 한잔
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
                    <label class="container">이야기
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
                    <label class="container">영화
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
                    <label class="container">맛집
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
                    <label class="container">카페 • 공간
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
                    <label class="container">산책 • 등산  • 러닝
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
                    <label class="container">글쓰기
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
                    <label class="container">전시 • 공연
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
                    <label class="container">영감 투어
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
                    <label class="container">액티비티
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
                </div>
            </div>
        </div>

        <!-- <div class="bottom-nav">
            <a class="btn-show-all" href="">
            전체 소셜링 보기
            <div class="line"></div>
          </a>
        </div> -->

        <div class="bottom-nav">
            <a href="/party"><i class="fas fa-users"></i></a>
            <a href="/party/create"><i class="fas fa-plus-circle"></i></a>
            <a href="/user/profile"><i class="fas fa-user"></i></a>
        </div>
    </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function() {
            $('.login-btn').click(function() {
                location.href = "./profile.html";
            });
        });
        $('.day-filter').click(function() {
            if ($(this).text() == "• 주말") {
                $('.weekend').attr('checked', '');
                $('.days').removeAttr('checked');
            } else if ($(this).text() == "• 평일") {
                $('.days').attr('checked', '');
                $('.weekend').removeAttr('checked');
            } else {
                $('.days').attr('checked', '');
                $('.weekend').attr('checked', '');
            }
            $(this).addClass('active');
            $(this).siblings().removeClass('active');
        });
    </script>
</body>

</html>