{% extends 'party_base.html' %}

{% block contents %}
<div class="content height-auto">
    <section class="add">
        <header>
            <a href="javascript:history.back()">
                <i class="fas fa-arrow-left"></i>
            </a>
        </header>
        <div class="add-box">
            <div class="add-title">
                <h3>언제 어디서 만나나요?</h3>
            </div>

            <form id="createPartyForm" action="/party/update/{{party.id}}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="host" value="{{user_id}}" />
                <input type="hidden" name="party_id" value="{{party.id}}" />
                <div class="add-select">
                    <!-- 제목 -->
                    <div class="add-option">
                        <div class="option-title" id="scroll-1">
                            <i class="fas fa-edit"></i>
                            <h3>모임 이름, 설명 <br><small>*이 항목은 필수입니다.</small></h3>
                        </div>
                        <br>
                        <div class="input-option active">
                            <input type="text" name="name" placeholder="모임 이름" required data-id="scroll-1"
                                value="{{party.name}}" />
                            <input type="text" name="detail" placeholder="모임 설명" required value="{{party.detail}}" />
                        </div>
                    </div>


                    <!-- 카테고리 -->
                    <div class="add-option add-option--date">
                        <div class="option-title">
                            <i class="fas fa-calendar-alt"></i>
                            <h3>카테고리 선택<br><small>*이 항목은 필수입니다.</small></h3>
                        </div>

                        <a class="open-option"><i class="fas fa-caret-down"></i></a>

                        <div class="search-category" id="scroll-2">
                            <div class="category">
                                <label class="container">함께 나들이
                                    <input type="radio" name="category" value="함께 나들이" required data-id="scroll-2"
                                        {% if party.category == "함께 나들이" %} checked {%endif%}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">가볍게 한잔
                                    <input type="radio" name="category" value="가볍게 한잔"
                                        {% if party.category == "가볍게 한잔" %} checked {%endif%}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">이야기
                                    <input type="radio" name="category" value="이야기" {% if party.category == "이야기" %}
                                        checked {%endif%}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">영화
                                    <input type="radio" name="category" value="영화" {% if party.category == "영화" %}
                                        checked {%endif%}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">맛집
                                    <input type="radio" name="category" value="맛집" {% if party.category == "맛집" %}
                                        checked {%endif%}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">카페 • 공간
                                    <input type="radio" name="category" value="카페 • 공간"
                                        {% if party.category == "카페 • 공간" %} checked {%endif%}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">산책 • 등산 • 러닝
                                    <input type="radio" name="category" value="산책 • 등산 • 러닝"
                                        {% if party.category == "산책 • 등산 • 러닝" %} checked {%endif%}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">글쓰기
                                    <input type="radio" name="category" value="글쓰기" {% if party.category == "글쓰기" %}
                                        checked {%endif%}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">전시 • 공연
                                    <input type="radio" name="category" value="전시 • 공연"
                                        {% if party.category == "전시 • 공연" %} checked {%endif%}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">영감 투어
                                    <input type="radio" name="category" value="영감 투어" {% if party.category == "영감 투어" %}
                                        checked {%endif%}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">액티비티
                                    <input type="radio" name="category" value="액티비티" {% if party.category == "액티비티" %}
                                        checked {%endif%}>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                    </div>


                    <!-- 날짜 -->
                    <div class="add-option add-option--date" id="scroll-3">
                        <div class="option-title">
                            <i class="fas fa-calendar-alt"></i>
                            <h3>날짜 선택 <br> <small>*이 항목은 필수입니다.</small> </h3>
                        </div>
                        <a class="open-option"><i class="fas fa-caret-down"></i></a>
                        <div class="input-option">
                            <input id="dateInput" type="date" name="date" required data-id="scroll-3"

                                value = "{{ party.date }}"
 
                                
                                />
                        </div>
                    </div>
                    <!-- 시간 -->
                    <div class="add-option add-option--time" id="scroll-4">
                        <div class="option-title">
                            <i class="fas fa-clock"></i>
                            <h3>시간 입력<br><small>*이 항목은 필수입니다.</small></h3>
                        </div>
                        <a class="open-option"><i class="fas fa-caret-down"></i></a>
                        <div class="input-option">
                            <input type="time" name="time" required data-id="scroll-4" value="{{party.time}}" />
                        </div>
                    </div>
                    <!-- 장소 -->
                    <div class="add-option add-option--location" id="scroll-5">
                        <div class="option-title">
                            <i class="fas fa-map-marker-alt"></i>
                            <h3>장소 입력<br><small>*이 항목은 필수입니다.</small></h3>
                        </div>
                        <a class="open-option" onclick="set_defaul_address()"><i class="fas fa-caret-down"></i></a>
                        <div class="input-option">
                            <div class="onoffline">
                                <a class="btn-offline active" onclick="show_map()">오프라인</a>
                                <a class="btn-online" onclick="hide_map()">온라인</a>
                            </div>
                            <div class="offline">
                                <div class="address-box">
                                    <input id="addressInput" type="text" name="address" class="input-address"
                                        value="{{party.address}}" onkeypress="if(event.keyCode==13) {search_address()}"
                                        required data-id="scroll-5" />
                                    <a class="openMap"><i class="fas fa-search" onclick="search_address()"></i></a>
                                </div>
                                <div id="map" style="width:100%;height:350px;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- 인원 수 -->
                    <div class="add-option add-option--people">
                        <div class="option-title">
                            <i class="fas fa-users"></i>
                            <h3>인원 설정 <span>(본인 제외)</span><br><small>*이 항목은 필수입니다.</small></h3>
                        </div>
                        <a class="open-option"><i class="fas fa-caret-down"></i></a>
                        <div class="input-option">
                            <input type="number" name="headcount" value="1" min="1" required
                                value={{party.headcount}} />
                        </div>
                    </div>
                    <!-- 인원 수 -->
                    <div class="add-option">
                        <div class="option-title">
                            <i class="fas fa-coins"></i>
                            <h3>참가 비용<br><small>*이 항목은 필수입니다.</small></h3>
                        </div>
                        <a class="open-option"><i class="fas fa-caret-down"></i></a>
                        <div class="input-option">
                            <input type="number" name="price" min="0" max="1000000" required value={{party.price}} />
                        </div>
                    </div>
                    <!-- 오픈채팅방 링크 -->
                    <div class="add-option add-option--link">
                        <div class="option-title">
                            <i class="fas fa-comment"></i>
                            <h3>오픈채팅방 링크<br><small>*이 항목은 필수입니다.</small></h3>
                        </div>
                        <a class="open-option"><i class="fas fa-caret-down"></i></a>
                        <div class="input-option">
                            <h5>https://open.kakao.com/</h5>
                            <input type="text" name="link" placeholder="나머지 부분만 입력 해주세요" value="{{party.link}}"
                                required />
                        </div>
                    </div>

                    <!-- 배경 화면 -->
                    <div class="add-option add-option--link">
                        <div class="option-title">
                            <i class="fas fa-comment"></i>
                            <h3>배경 화면<br></h3>
                        </div>
                        <a class="open-option"><i class="fas fa-caret-down"></i></a>
                        <div class="input-option">
                            <label for="imageInput">아래 이미지를 클릭해서 업로드 </label>
                            <input id="imageInput" type="file" name="image" accept="image/*" value="{{party.image}}" style="display:none" />
                            <img id="imagePreview" src="/media/{{party.image}}" style="width:100%" />
                        </div>
                    </div>

                </div>
                <div class="empty-box"></div>

                <h5 id="requiredError" style="display:none; color:red;">필수항목이 입력되지 않았습니다.</h5>

                <input type="submit" value="수정하기" />
            </form>
        </div>
        <div class="bottom-nav">
            <a href="/party">
                <i class="fas fa-users"></i>
                <p>소셜링</p>
            </a>
            <a href="/party/create">
                <i class="fas fa-plus-circle"></i>
            </a>
            <a href="/user/profile">
                <i class="fas fa-user"></i>
                <p>프로필</p>
            </a>
        </div>
    </section>
</div>
{%endblock%}

{%block extrascript %}
<script>
    imageInput.onchange = evt => {
        const [file] = imageInput.files
        if (file) {
            document.getElementById("imagePreview").src = URL.createObjectURL(file)
        }
    }
    $('#imagePreview').click(function () {
        $('#imageInput').trigger('click');
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(".login-btn").click(function () {
        location.href = "./profile.html";
    });
    $(".open-option").click(function () {
        if ($(this).next().hasClass("active") == 0) {
            $(this).children(".fas:eq(0)").attr("class", "fas fa-caret-up");
        } else {
            $(this).children(".fas:eq(0)").attr("class", "fas fa-caret-down ");
        }
        $(this).next().toggleClass("active");
    });

    $('.onoffline a').click(function () {
        $('.onoffline a').removeClass('active');
        $(this).addClass('active');
    });

    if ($('.btn-online').hasClass('active') == true) {
        $('#map').css('display', 'none')
    }
</script>

<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7d9f642e7d11cd6aeacaeed86fe5d852&libraries=services">
</script>


<script>
    $("form input").on("invalid", function (event) {
        $('#requiredError').show();
        console.log("필수항목이 입력되지 않았습니다.");
    });





    function getFormatDate(d) {
        return d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate()
    }


    var minDate = getFormatDate(new Date()),
        mdTemp = new Date(),
        maxDate = getFormatDate(new Date(mdTemp.setDate(mdTemp.getDate() + 30)));

    document.getElementById("dateInput").setAttribute("max", maxDate);
    document.getElementById("dateInput").setAttribute("min", minDate);




    function show_map() {
        $('.address-box').show()
        $('#map').show()
        $('#addressInput').val("")
    }

    function hide_map() {
        $('.address-box').hide()
        $('#map').hide()
        $('#addressInput').val('온라인')
    }

    function set_defaul_address() {
        console.log("test");
        setTimeout(() => search_address('한양대학교 서울캠퍼스'), 50);
        //search_address('한양대학교 서울캠퍼스');
    }

    function search_address(default_address) {
        if (default_address) {
            var address = default_address;
        } else {
            var address = $('.input-address').val();
        }
        console.log(address);

        // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
        var infowindow = new kakao.maps.InfoWindow({
            zIndex: 1
        });

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };
        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        var ps = new kakao.maps.services.Places(); // 장소 검색 객체를 생성합니다
        ps.keywordSearch(address, placesSearchCB); // 키워드로 장소를 검색합니다

        // 키워드 검색 완료 시 호출되는 콜백함수 입니다
        function placesSearchCB(data, status, pagination) {
            console.log(status);
            if (status === kakao.maps.services.Status.OK) {
                // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                // LatLngBounds 객체에 좌표를 추가합니다
                var bounds = new kakao.maps.LatLngBounds();
                for (var i = 0; i < data.length; i++) {
                    displayMarker(data[i]);
                    bounds.extend(new kakao.maps.LatLng(data[i].y,
                        data[i].x));
                } // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다 
                map.setBounds(bounds);
            } else {
                console.log("error 발생");
            }
        }

        // 지도에 마커를 표시하는 함수입니다 
        function displayMarker(place) { // 마커를 생성하고 지도에 표시합니다 
            var marker = new
            kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(place.y, place.x),
                clickable: true // 마커에 클릭이벤트를 등록합니다
            });
            kakao.maps.event.addListener(marker, 'click', function () { // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다

            console.log(place)
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.address_name +
                '</div>');
            infowindow.open(map, marker);
            $('#addressInput').val(place.place_name + ' (' + place.address_name + ')' )
            });
        }
    }
</script>
{%endblock%}