{% extends 'manager_base.html' %}

{% block contents %}

<div class="content">
    <section class="party">
        <header>
            <h1>BUCKET LISTER</h1>
            <div class="btn-action">
                <a href="/search"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-bell"></i></a>
            </div>
        </header>
        <div class="party-box">

            <div class="party-filter">
                <h3>댓글 관리</h3>
            </div>

            {% for comment in comment_list %}
            <div class="party-card">
                <div class="party-participant">
                    <img class="join-image" src="/media/{{comment.user.image}}" alt="profile image" />
                </div>
                <h3>{{comment.content}}</h3>
                <h3>
                    <a href="/user/detail/{{comment.user.id}}">"{{comment.user.name}}" </a> 님이 <br>
                    <a href="/party/detail/{{comment.party.id}}">"{{comment.party.name}}" </a> 소셜링에 남긴 댓글
                </h3>
                <div class="party-info">
                    <div class="party-info-element">
                        <button onclick="delete_comment('comment', {{comment.id}})">삭제</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="bottom-nav">
            <a href="/party"><i class="fas fa-users"></i></a>
            <a href="/party/create"><i class="fas fa-plus-circle"></i></a>
            <a href="/user/profile"><i class="fas fa-user"></i></a>
        </div>
    </section>
</div>

<form id="commentDeleteForm" action="/manager/delete/" method="post">
    {%csrf_token%}
    <input type="hidden" name="table" value="" />
    <input type="hidden" name="id" value="" />
</form>
{%endblock%}

{%block extrascript%}
<script>
    function delete_comment(table, id) {
        if (confirm("삭제하시겠습니까?")) {
            $('#commentDeleteForm > input[name=table]').val(table);
            $('#commentDeleteForm > input[name=id]').val(id);
            $('#commentDeleteForm').submit();
        }
    }
</script>
{%endblock%}