{% extends 'manager_base.html' %}

{% block contents %}

<div class="content">
    <section class="party">
        <header>
          <a class="prev-page" href="javascript:history.back()"><i class="fas fa-arrow-left"></i></a>
            <h1>BUCKET LISTER</h1>
            <div class="btn-action">
                <a href="/search"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-bell"></i></a>
            </div>
        </header>
        <div class="party-box">

            <div class="manage-filter">
                <h3>댓글 관리</h3>
            </div>

            {% for comment in comment_list %}
            <div class="manage-card">
                <!-- <div class="image-wrap">
                    <img class="user-image" src="/media/{{comment.user.image}}" alt="profile image" />
                </div> -->
              <div class="manage-info">
                <div>
                  <p style="font-weight: 600;">{{comment.content}}</p>
                  <p>
                      <a href="/user/detail/{{comment.user.id}}">"{{comment.user.name}}" </a> 님이 <br>
                      <a href="/party/detail/{{comment.party.id}}">"{{comment.party.name}}" </a> 소셜링에 남긴 댓글
                  </p>
                </div>
                <div class="manage-info">
                    <div class="manage-info-element">
                        <button class="delete-social" onclick="delete_comment('comment', {{comment.id}})"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>

        <div class="bottom-nav">
            <a href="/party"><i class="fas fa-users"></i></a>
            <a href="/party/create"><i class="fas fa-plus-circle"></i></a>
            <a href="/user/profile"><i class="fas fa-user"></i></a>
        </div>
    </section>
</div>

<form id="commentDeleteForm" action="/manager/delete/" method="post">
    {%csrf_token%}
    <input type="hidden" name="table" value="" />
    <input type="hidden" name="id" value="" />
</form>
{%endblock%}

{%block extrascript%}
<script>
    function delete_comment(table, id) {
        if (confirm("삭제하시겠습니까?")) {
            $('#commentDeleteForm > input[name=table]').val(table);
            $('#commentDeleteForm > input[name=id]').val(id);
            $('#commentDeleteForm').submit();
        }
    }
</script>
{%endblock%}